a {
    color: #6C7383;
    font-size: 1.6rem;
    text-decoration: none;
}

button {
    border: none;
    background-color: #fff;
    outline: none;
    font-size: 1.6rem;
}

.icon {
    height: 20px;
    width: 20px;
    margin-top: 4px;
}

span {
    display: inline-block;
}

.main-container {
    padding: 0 35px;
}

.bg-white {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lv-2 {
    font-size: 1.6rem;
}

/* Search */
.search-group {
    margin-left: 50px;
}

.search-group__icon {
    cursor: pointer;
}

.search-group__input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 6px 12px;
}

.modal {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}
