@import "./reset.css";
@import "./fonts.css";
@import "./base.css";

:root {
    --color-primary: #4B49AC;
}

.btn-primary-2 {
    color: #fff;
    background-color: #4B49AC;
    border-color: #4B49AC;
}

.btn-primary-2:hover {
    color: #fff;
    opacity: 0.9;
}

/* Header */
.header {
    position: fixed;
    height: 60px;
    width: 100%;
    box-shadow: 0px 5px 21px -5px #CDD1E1;
    background-color: #fff;
    overflow: hidden;
    z-index: 999;
}

    .header .logo {
        width: 235px;
    }

    .header .logo__img {
        height: 34px;
        margin-top: 10px;
    }

.header__body--left .navbar-toggle {
    padding: 10px;
}

.header__body--right .nav-profile {
    cursor: pointer;
}

.header__body--right .nav-profile__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__body--right .nav-item .bell-icon {
    position: relative;
}

    .header__body--right .nav-item .bell-icon::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0;
        right: 6px;
        border-radius: 50%;
        background-color: var(--color-primary);
    }

/* Side bar */
.sidebar {
    position: relative;
    padding-top: 60px;
}

.sidebar-nav {
    position: absolute;
    height: calc(100vh - 60px);
    width: 235px;
    padding: 15px 10px 0 10px;
    box-shadow: 0 0 3px 1px #a7a3a3;
    background-color: #fff;
    z-index: 99;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 235px;
    }
}

.sidebar-nav.show {
    display: block;
    animation: fadeIn ease-in-out 0.4s;
}

.sidebar-nav .nav-item {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    color: #6C7383;
    padding: 13px 15px;
    border-radius: 8px;
    background-color: #fff;
}

    .sidebar-nav .nav-link.active,
    .sidebar-nav .nav-link:hover {
        color: #fff;
        background-color: var(--color-primary);
    }

    .sidebar-nav .nav-link.active {
        pointer-events: none;
    }

.sidebar-nav .nav-icon svg {
    width: 20px;
    height: 20px;
}

.sidebar-nav .nav-text {
    margin-left: 8px;
    margin-right: auto;
}

/* Main */
.main-content {
    position: relative;
    background-color: #f5f7ff;
    min-height: calc(100vh - 60px);
}

.main-title {
    font-size: 2.3rem;
    margin-top: 20px;
}

.block-content {
    padding: 20px;
    background-color: #fff;
}

.block-content__header--left .search-group__input {
    background-color: transparent;
}

.block-content__header--btn {
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background-color: var(--color-primary);
}

    .block-content__header--btn:hover {
        color: #fff;
        opacity: 0.9;
    }

.table-block {
    min-height: 450px;
}

.table-block .table thead tr {
    font-weight: 600;
    color: #fff;
    --bs-table-color: #fff;
    --bs-table-bg: var(--color-primary);
}

.table-block tr {
    border-bottom: 1px solid var(--color-primary);
}

.table-block tr:first-child th {
    padding: 10px 5px;
}

.table-block tr th:first-child {
    text-align: center;
}

.table-block th,
.table-block td {
    vertical-align: middle;
}

.table-block img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
}

/* Add Product */
.product-info {
    padding-bottom: 65px;
}

.product-info__block {
    padding: 15px;
}

.product-info__title {
    font-weight: 700;
}

.product-info__step {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.product-info__step--body {
    display: none;
}

    .product-info__step--body.show {
        display: block;
    }

.product-info__step--item {
    cursor: pointer;
    color: #6C7383;
}

    .product-info__step--item.active {
        color: var(--color-primary);
        pointer-events: none;
    }

.product-info__text span {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.product-info__text p {
    font-size: 1.6rem;
    font-weight: 700;
}

.product-info__body {
    padding-top: 20px;
}

    .product-info__body input {
        background-color: #f5f7ff;
        outline: none;
    }

.product-info__image--item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px dashed #ccc;
    border-radius: 10px;
}

/* Product info footer */
.product-info__footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 35px;
    text-align: right;
}

    .product-info__footer .block-actions .btn-cancel,
    .product-info__footer .block-actions .btn-save {
        min-width: 100px;
        font-size: 1.5rem;
    }

    .product-info__footer .block-actions .btn-cancel {
        border: 1px solid var(--color-primary);
        margin-right: 10px;
    }

    .product-info__footer .block-actions .btn-save {
        background-color: var(--color-primary);
        color: #fff;
    }

/* Product preview */
.product-info__preview--img {
    height: 300px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    overflow: hidden;
}

.product-info__preview--name {
    font-size: 1.8rem;
    font-weight: 600;
}

.product-info__preview--content .list-variants {
    font-size: 1.4rem;
}

/* Pagination */
.pagination .page-item .page-link {
    color: var(--color-primary);
    font-size: 1.6rem;
    padding: 5px 15px;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background: var(--color-primary);
}