@{
    ViewData["Title"] = "Create Product";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-link">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Product" asp-action="Index" class="breadcrumb-link">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
    </ol>
</nav>
<h1 class="main-title fw-semibold">Add Product</h1>